<div class="container">
    <div class="login-container">
      <div class="login">
        <img src="assets/grey-sloan-logo.png" alt="Grey Sloan Memorial Hospital" class="logo">
        <h2 class="login-header">Iniciar sesión en el Hospital Grey Sloan Memorial</h2>
        <form (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="username">Correo electrónico:</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="example@example.com">
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
          </div>
          <button type="submit" class="btn-login">Iniciar sesión</button>
          <div class="additional-options">
            <div>
              <input type="checkbox" id="remember-me">
              <label for="remember-me">Recordarme</label>
            </div>
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
        </form>
        <p *ngIf="error" class="error">{{ error }}</p>
      </div>
      <div class="info-box">
        <p>Hospital Grey Sloan Memorial</p>
        <p></p>
        <p></p>
        <p>“Un hospital de vanguardia, orientado a la investigación con un Centro de Trauma Nivel I”</p>
        <p>El Hospital Grey Sloan Memorial es un Centro de Trauma Nivel I y un hospital de enseñanza en Seattle, Washington. Anteriormente conocido como Hospital Seattle Grace Mercy West. Fue inaugurado en 2013, y se destaca porque sus dueños y junta son únicamente de doctores.</p>
      </div>
    </div>
  </div>
  