:root {
    /* Colors */
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --primary-color: #007bff;
    --bg-color: #add8e6;

    /* Font and typography */
    --body-font: "Roboto", sans-serif;
    --h1-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Estilos generales */
body {
    font-family: var(--body-font);
    margin: 0 auto;
    padding: 0;
    background: url('./assets/images/fondo.webp.png') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    overflow-y: auto; /* Permitir scroll si el contenido es muy largo */
}

header {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00; /* Color de hover para los enlaces */
}

nav span {
    color: var(--white-color);
    font-size: 1rem;
    margin-right: 1rem;
}

header button {
    background-color: #e5e5ee; /* Color de fondo más claro para el botón de logout */
    color: var(--black-color); /* Cambia el texto a negro para mejor contraste */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #0535e4; /* Color de fondo más claro al pasar el mouse por el botón */
}


main.admin-home {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.panel {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2rem 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
    margin-top: 2rem; /* Ajustar esta propiedad para bajar el primer cuadro */
}


.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem; /* Espacio entre los cuadros */
}

.login {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2rem 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
}

.panel-header,
.login-header {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.panel form div,
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
}

.panel form div label,
.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--white-color);
}

.panel form div input,
.form-group input{
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.panel form div select {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.panel button,
.btn-login {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 0.75rem;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.panel button:hover,
.btn-login:hover {
    background-color: #0056b3;
}

.additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.additional-options a {
    color: var(--white-color);
}

.additional-options a:hover {
    text-decoration: underline;
}

.error {
    color: #ff0000;
    margin-top: 1rem;
}

.info-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1rem;
    color: var(--white-color);
    font-size: 1.2rem;
    text-align: left;
    font-family: var(--body-font);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.info-box p {
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--white-color);
}
